<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/my_flask_app/static/styles.css">
</head>
<body>
    
                                                           <!-- Navbar -->
    <header>
        <nav class="navbar">
            <div class="logo-container">
                <a href="#"><img src="/my_flask_app/static/images/logo1.png" alt="Logo" class="logo"></a>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="/my_flask_app/templates/index.html">Home</a></li>
                    <li><a href="/my_flask_app/templates/about.html">About</a></li>
                    <li><a href="/my_flask_app/templates/">Services</a></li>
                    <li><a href="/my_flask_app/templates/contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="sign-in-container">
                <a href="/my_flask_app/templates/login.html" class="sign-in">Sign In</a>
            </div>
        </nav>
    </header>
                                                    <!-- Landing  -->
    <div class="header">
        <img src="/my_flask_app/static/images/about1.png" alt="Header Image" class="header-image">
        <div class="overlay">
            <p class="quote">"The only way to achieve the impossible is to believe it is possible"</p>
            <p class="author">Charles Kingsleigh (from "Alice in Wonderland")</p>
        </div>
    </div>

    <!--  Fliped Cards -->

    <div class="beliefs">
        <h2>We believe in</h2>
        <div class="beliefs-images">
            <div class="card">
                <div class="card-inner">
                    <div class="card-front">
                        <img src="/my_flask_app/static/images/about2.jpeg" alt="Soccer">
                    </div>
                    <div class="card-back">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-inner">
                    <div class="card-front">
                        <img src="/my_flask_app/static/images/about3.jpeg" alt="Mountains">
                    </div>
                    <div class="card-back">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-inner">
                    <div class="card-front">
                        <img src="/my_flask_app/static/images/about4.jpeg" alt="Graduation">
                    </div>
                    <div class="card-back">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="content">
        <div class="section goal">
            <h2>Our goal</h2>
            <div class="goal-content">
                <img src="/my_flask_app/static/images/about5.jpeg" alt="Goal" class="section-image-small">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent auctor purus luctus enim egestas, ac scelerisque ante pulvinar. Donec ut rhoncus ex. Suspendisse ac rhoncus nisl, eu tempor urna. Curabitur vel bibendum lorem. Morbi convallis convallis diam sit amet lacinia. Aliquam in elementum tellus.</p>
            </div>
        </div>
        <div class="section mission">
            <h2>Our Mission</h2>
            <div class="mission-content">
                <img src="/my_flask_app/static/images/about10.jpeg" alt="Mission" class="section-image">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent auctor purus luctus enim egestas, ac scelerisque ante pulvinar. Donec ut rhoncus ex. Suspendisse ac rhoncus nisl, eu tempor urna. Curabitur vel bibendum lorem. Morbi convallis convallis diam sit amet lacinia. Aliquam in elementum tellus.</p>
            </div>
        </div>
    </div>
    
    <footer>
        <div class="footer-content">
            <div class="footer-links">
                <a href="#">Join With Us</a>
                <a href="#">About Us</a>
                <a href="#">Contact Us</a>
                <a href="#">Our Team</a>
                <a href="#">Privacy Notice</a>
                <a href="#">Terms</a>
                <a href="#">Services</a>
            </div>
            <div class="footer-social">
                <a href="#"><img src="/my_flask_app/static/images/fb.png" alt="Facebook"></a>
                <a href="#"><img src="/my_flask_app/static/images/ins.png" alt="Instagram"></a>
                <a href="#"><img src="/my_flask_app/static/images/X.png" alt="Twitter"></a>
                <a href="#"><img src="/my_flask_app/static/images/yt.png" alt="YouTube"></a>
            </div>
        </div>
        <p>&copy; 2024 Dream Career Team. All Rights Reserved.</p>
    </footer>
    
    
    

</body>
</html>
