<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personality Assessment Instructions</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="assessment-page">
        <div class="container">
            <h1>Instructions for Taking the Personality Assessment</h1>
            <p>Hello and welcome! We're excited to have you here as you take the first step towards discovering your ideal career path. This personality assessment is designed to provide you with valuable insights into your strengths, preferences, and potential job careers that best match your unique personality.</p>
            <p>Before you begin, please take a moment to read through the following instructions. These

        <ul>
            <li>Ensure you are in a quiet and comfortable environment free from distractions.</li>
            <li>Answer each question honestly based on how you typically think, feel, and behave. There are no right or wrong answers, and your genuine responses will provide the most accurate results.</li>
            <li>To ensure consistency, try to complete the assessment in one sitting. This will help maintain your mindset and focus throughout the process.</li>
            <li>Ensure you have a stable internet connection and a device with a functioning keyboard and mouse or touchscreen.</li>
            <li>Once you have completed the assessment, you will receive a detailed report with insights into your personality and suggested career paths. Take some time to review these results and reflect on how they align with your career aspirations.</li>
        </ul>
        <p>Thank you for participating in the Dream Career Personality Assessment. We hope this experience provides valuable insights into your potential career future. <strong>Good luck on your test!</strong></p>
        <button onclick="startTest()">Start</button>
        </div>
    </div>

    
</body>
</html>
